<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DocuCrypt | <%= title %></title>
<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/bootstrap.min.css">
<style>

</style>