<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/nav'); %>
        <div class="container page-body">
            <h1 class="py-4 text-center">404</h1>
            <div class="d-flex justify-content-center">
                <a href="/" class="text-muted">Home</a>
            </div>

        </div>
        <%- include('./partials/foot'); %>
</body>

</html>