@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,600&family=Permanent+Marker&display=swap");
body,
html {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
.page-body {
  min-height: calc(100vh - 118px);
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
.grow {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.grow:hover {
  transform: scale(1.01);
}

.grow1 {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.grow1:hover {
  transform: scale(1.1);
}

footer,
nav {
  background-color: #0B2C3D;
}

.navbar-brand {
  padding-left: 20px;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em !important;
}

/* .card
{
    border-color: rgb(119, 45, 49)!important;
} */

.nav-item.active *
{
    color: white!important;
    font-weight: 600;
    text-decoration: underline;
}

.question
{
    padding: 20px 10px;
}

.form-signin
{
  width: 100%;
  max-width: 350px;
}



.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* INDEX */
section.hero, section.hero div{
  height: calc(100vh - 62px);
  background-color: #FFFFFF;
}
.heroText{
  font-size: 3em;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  height:fit-content!important;
}

.detailsList li{
  font-size: 1.2em;
  font-weight:600!important;
  text-align: justify;
}
.studentCard,.teacherCard{
  height: 150px;
}

.studentCard .card-body img,.teacherCard .card-body img{
  height: 100px;
  position: absolute;
  bottom: 10px;
  right: 20px;

}


.bg-blue{
  background-color: #0B2C3D;
}
.bg-orange{
  background-color: #FF5C3F;
}
.color-blue{
  color: #0B2C3D;
}
.color-orange{
  color: #FF5C3F;
}
.bg-gray{
  background-color: #F2F6F7;
}
.hero *,.zindex-2{
  z-index: 2;
}
.blob{
z-index: 1;
width: 30%;
}
.blob1{
  position: absolute;
  bottom: -50px;
}
.blob2{
  position: absolute;
  top: 0px;
  right: 0px;
}
.bg-none *{
  background-color: #f5f5f500 !important;
}

  ul 
  { 
  list-style-image: url('/images/arrow.png');
  list-style-position: outside;
  } 
  
  .question,.answer{
    background-color: #F2F6F7; 
    border-radius: 30px;
    border: solid 2px #dddfe0;
  }
.LoadPage{
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0B2C3D;
}
.w-fit{
  width: fit-content!important;
}
.loginLink{
  color:white!important ;
}