@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,600&family=Permanent+Marker&display=swap");
body,
html {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.page-body {
  min-height: calc(100vh - 118px);
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
.grow {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.grow:hover {
  transform: scale(1.01);
}

.grow1 {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.grow1:hover {
  transform: scale(1.1);
}

footer,
nav {
  background-color: rgb(119, 45, 49);
}

.navbar-brand {
  padding-left: 20px;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em !important;
}

/* .card
{
    border-color: rgb(119, 45, 49)!important;
} */

.nav-item.active *
{
    color: white!important;
    font-weight: 600;
    text-decoration: underline;
}

.question
{
    padding: 20px 10px;
}

.form-signin
{
  width: 100%;
  max-width: 350px;
}



.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}